<amplify-authenticator>
  <div style="
    text-align:right;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    " *ngIf="user && user.signInUserSession">
    {{ userProp.attributes['custom:nickname'] }} | <span class="pointer link" (click)="signout()">signout</span>
  </div>
  <div>
    logined..
  </div>
  <amplify-sign-up slot="sign-up" usernameAlias="email" [formFields]="formFields"></amplify-sign-up>
  <!-- <amplify-sign-in slot="sign-in" usernameAlias="email"></amplify-sign-in> -->
</amplify-authenticator>

<!-- <amplify-authenticator usernameAlias="email">
  <amplify-confirm-sign-up slot="confirm-sign-up" [formFields]="formFieldsConfirm">
  </amplify-confirm-sign-up>
</amplify-authenticator> -->

<!--

///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////// part 9
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////

type Octopus
  @model
  @versioned
  @key(name: "byDateByTypeByCreatedAt", fields: ["date", "type", "createdAt"], queryField: "itemsByDateByTypeByCreatedAt")
    @auth (
    rules: [
      {allow: groups, groups: ["townHouseAdmin"], operations: [create, update, delete]}, # 管理グループに対する権限
      {allow: owner, ownerField: "user_id", operations: [create, update, delete]}
    ])
  {
    id: ID!
    date: AWSDate!
    type: Int!
    createdAt: AWSTimestamp
  }


M:desert9 yasu$ amplify add api
? Please select from one of the below mentioned services: GraphQL
? Provide API name: desert9
? Choose the default authorization type for the API Amazon Cognito User Pool
Using service: Cognito, provided by: awscloudformation

 The current configured provider is Amazon Cognito.

 Do you want to use the default authentication and security configuration? Manual configuration
 Select the authentication/authorization services that you want to use: User Sign-Up, Sign-In, connected with AWS IAM controls (En
ables per-user Storage features for images or other content, Analytics, and more)
 Please provide a friendly name for your resource that will be used to label this category in the project: ds9auth
 Please enter a name for your identity pool. ds9auth
 Allow unauthenticated logins? (Provides scoped down permissions that you can control via AWS IAM) No
 Do you want to enable 3rd party authentication providers in your identity pool? No
 Please provide a name for your user pool: ds9auth
 Warning: you will not be able to edit these selections.
 How do you want users to be able to sign in? Email
 Do you want to add User Pool Groups? Yes
? Provide a name for your user pool group: Admins
? Do you want to add another User Pool Group Yes
? Provide a name for your user pool group: Users
? Do you want to add another User Pool Group No
✔ Sort the user pool groups in order of preference · Admins, Users
 Do you want to add an admin queries API? No
 Multifactor authentication (MFA) user login options: OFF
 Email based user registration/forgot password: Enabled (Requires per-user email entry at registration)
 Please specify an email verification subject: Your verification code
 Please specify an email verification message: Your verification code is {####}
 Do you want to override the default password policy for this User Pool? No
 Warning: you will not be able to edit these selections.
 What attributes are required for signing up? Email, Name, Phone Number (This attribute is not supported by Facebook, Login With A
mazon.)
 Specify the app's refresh token expiration period (in days): 30
 Do you want to specify the user attributes this app can read and write? Yes
 Specify read attributes: Email, Name, Phone Number
 Specify write attributes:
 Do you want to enable any of the following capabilities? Add User to Group
 Do you want to use an OAuth flow? No
? Do you want to configure Lambda Triggers for Cognito? No
? Enter the name of the group to which users will be added. Users
Successfully added resource ds9authPostConfirmation locally.

Next steps:
Check out sample function code generated in <project-dir>/amplify/backend/function/ds9authPostConfirmation/src
"amplify function build" builds all of your functions currently in the project
"amplify mock function <functionName>" runs your function locally
"amplify push" builds all of your local backend resources and provisions them in the cloud
"amplify publish" builds all of your local backend and front-end resources (if you added hosting category) and provisions them in the cloud
Successfully added the Lambda function locally
? Do you want to edit your add-to-group function now? Yes
Please edit the file in your editor: /Users/yasu/work/github/desert9/amplify/backend/function/ds9authPostConfirmation/src/add-to-group.js
? Press enter to continue
Successfully added auth resource ds9auth locally

Some next steps:
"amplify push" will build all your local backend resources and provision it in the cloud
"amplify publish" will build all your local backend and frontend resources (if you have hosting category added) and provision it in the cloud

? Do you want to configure advanced settings for the GraphQL API No, I am done.
? Do you have an annotated GraphQL schema? No
? Choose a schema template: Objects with fine-grained access control (e.g., a project management app with owner-based authorizatio
n)

GraphQL schema compiled successfully.

Edit your schema at /Users/yasu/work/github/desert9/amplify/backend/api/desert9/schema.graphql or place .graphql files in a directory at /Users/yasu/work/github/desert9/amplify/backend/api/desert9/schema
? Do you want to edit the schema now? Yes
Please edit the file in your editor: /Users/yasu/work/github/desert9/amplify/backend/api/desert9/schema.graphql
Successfully added resource desert9 locally

Some next steps:
"amplify push" will build all your local backend resources and provision it in the cloud
"amplify publish" will build all your local backend and frontend resources (if you have hosting category added) and provision it in the cloud


M:desert9 yasu$ amplify add function
? Select which capability you want to add: Lambda function (serverless function)
? Provide an AWS Lambda function name: funcHttpX1
? Choose the runtime that you want to use: NodeJS
? Choose the function template that you want to use: Hello World

Available advanced settings:
- Resource access permissions
- Scheduled recurring invocation
- Lambda layers configuration

? Do you want to configure advanced settings? Yes
? Do you want to access other resources in this project from your Lambda function? Yes
? Select the category storage
? Storage has 8 resources in this project. Select the one you would like your Lambda to access Task:@model(appsync), PrivateNote:@
model(appsync), Blog:@model(appsync), Post:@model(appsync), Comment:@model(appsync), RoutineShip:@model(appsync), Ship:@model(apps
ync), Crew:@model(appsync)
? Select the operations you want to permit for Task:@model(appsync) create, read, update, delete
? Select the operations you want to permit for PrivateNote:@model(appsync) create, read, update, delete
? Select the operations you want to permit for Blog:@model(appsync) create, read, update, delete
? Select the operations you want to permit for Post:@model(appsync) create, read, update, delete
? Select the operations you want to permit for Comment:@model(appsync) create, read, update, delete
? Select the operations you want to permit for RoutineShip:@model(appsync) create, read, update, delete
? Select the operations you want to permit for Ship:@model(appsync) create, read, update, delete
? Select the operations you want to permit for Crew:@model(appsync) create, read, update, delete

You can access the following resource attributes as environment variables from your Lambda function
        API_DESERT9_BLOGTABLE_ARN
        API_DESERT9_BLOGTABLE_NAME
        API_DESERT9_COMMENTTABLE_ARN
        API_DESERT9_COMMENTTABLE_NAME
        API_DESERT9_CREWTABLE_ARN
        API_DESERT9_CREWTABLE_NAME
        API_DESERT9_GRAPHQLAPIIDOUTPUT
        API_DESERT9_POSTTABLE_ARN
        API_DESERT9_POSTTABLE_NAME
        API_DESERT9_PRIVATENOTETABLE_ARN
        API_DESERT9_PRIVATENOTETABLE_NAME
        API_DESERT9_ROUTINESHIPTABLE_ARN
        API_DESERT9_ROUTINESHIPTABLE_NAME
        API_DESERT9_SHIPTABLE_ARN
        API_DESERT9_SHIPTABLE_NAME
        API_DESERT9_TASKTABLE_ARN
        API_DESERT9_TASKTABLE_NAME
        ENV
        REGION
? Do you want to invoke this function on a recurring schedule? No
? Do you want to configure Lambda layers for this function? No
? Do you want to edit the local lambda function now? Yes
Please edit the file in your editor: /Users/yasu/work/github/desert9/amplify/backend/function/funcHttpX1/src/index.js
? Press enter to continue
Successfully added resource funcHttpX1 locally.

Next steps:
Check out sample function code generated in <project-dir>/amplify/backend/function/funcHttpX1/src
"amplify function build" builds all of your functions currently in the project
"amplify mock function <functionName>" runs your function locally
"amplify push" builds all of your local backend resources and provisions them in the cloud
"amplify publish" builds all of your local backend and front-end resources (if you added hosting category) and provisions them in the cloud

M:desert9 yasu$ amplify



    "userpoolClientWriteAttributes": [
        "email",
        "name",
        "phone_number",
        "custom:nickname"
    ],
    "userpoolClientReadAttributes": [
        "email",
        "name",
        "phone_number",
        "email_verified",
        "custom:nickname"
    ],

-->

